{:blocks (
{:block/content ""
:block/format :markdown
:block/left 
{:block/uuid #uuid "653caf0a-c876-4055-b7ca-a2f53ffed3e2"}
:block/parent 
{:block/uuid #uuid "653caf0a-c876-4055-b7ca-a2f53ffed3e2"}
:block/uuid #uuid "653caf4d-ace9-44da-9de8-bd5b15614bd6"} 
{:block/content ""
:block/format :markdown
:block/left 
{:block/uuid #uuid "653caf4d-ace9-44da-9de8-bd5b15614bd6"}
:block/parent 
{:block/uuid #uuid "653caf0a-c876-4055-b7ca-a2f53ffed3e2"}
:block/uuid #uuid "653caf8e-a6ec-4ed0-a7aa-93c8a7a83cfd"})
:pages (
{:block/uuid #uuid "653caf0a-c876-4055-b7ca-a2f53ffed3e2"
:block/properties 
{:ls-type :whiteboard-page
:logseq.tldraw.page 
{:id "653caf0a-c876-4055-b7ca-a2f53ffed3e2"
:name "653caf0a-c876-4055-b7ca-a2f53ffed3e2"
:bindings 
{}
:nonce 1
:assets []
:shapes-index ()}}
:block/updated-at 1698476274093
:block/created-at 1698475786342
:block/type "whiteboard"
:block/name "653caf0a-c876-4055-b7ca-a2f53ffed3e2"
:block/original-name "653caf0a-c876-4055-b7ca-a2f53ffed3e2"})}